* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.texto-azul {
    color: #2f86d6;
}

.Limitar-Secao {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.Topo {
    position: relative;
    padding: 35px 0px;
}

.Logo {
    position: relative;
}

.Logo img {
    width: 80px;
}

.Logo div {
    position: absolute;
    top: 0px;
    left: 95px;
}

.Logo p {
    color: #2f86d6;
    font-weight: 600;
}

.Topo-Links {
    position: absolute;
    top: 65px;
    right: 0px;
}

.Topo-Links a {
    font-size: 18px;
    padding: 0px 10px;
    text-decoration: none;
    font-weight: 600;
    color: #233032;
}

.banner {
    background-color:#2f86d6;
}

.banner-conteudo {
    position: relative;
    padding: 180px 0px;
}

.banner-conteudo div {
    color: #fff;
    width: 470px;  
}

.banner-conteudo p {
    font-size: 16px;
    line-height: 26px;
    word-spacing: 3px;
}

.banner-conteudo h2 {
    font-size: 28px;
    line-height: 40px;
    margin: 20px 0px;
}

.banner-img {
    position: absolute;
    right: 0px;
    top: 100px;
    width: 50%;
}

.primeira-faixa {
    background-color:#233032 ;
    padding: 40px 0px;
}

.faixa-conteudo{
    position: relative;
}

.primeira-faixa .faixa-texto{
    width: 100%;
    max-width: 600px;
    color: #fff;
}

.faixa-texto h3 {
    font-size: 24px;    
}

.faixa-texto p {
    font-size: 16px;
}

.primeira-faixa .faixa-botao {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color:#2f86d6;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
}

.faixa-botao a {
    text-decoration: none;
    color: #fff;
}

.faixa-botao img {
    width: 18px;
}

.informacoes{
    padding: 80px 0;
    background-color: #fff;
}

.informacoes .titulo {
    text-align: center;
    width: 900px;
    margin: 10px auto;
    padding-bottom: 50px;
}

.informacoes h2 {
    font-size: 28px;
}

.informacoes .info-img{
    width: 33%;
    display: inline-block;
    text-align: center;
}

.informacoes .info-img img {
    width: 40%;
    padding: 15px;
}

.informacoes .info-img h4 {
    padding: 15px;
    font-size: 20px;
}
